<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vue-grid-layout</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="example/app.css">
</head>
<body>
    <h1>Vue Grid</h1>
    <div id="app">
        <!--<pre>{{ $data | json }}</pre>-->
        <div>
            <div class="layoutJSON">
                Displayed as <code>[x, y, w, h]</code>:
                <div class="columns">
                    <div class="layoutItem" v-for="item in layout">
                        <b>{{item.i}}</b>: [{{item.x}}, {{item.y}}, {{item.w}}, {{item.h}}]
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <!--<responsive-grid-layout :layout.sync="layout" :layouts="layouts" :row-height="30" :is-draggable="true" :vertical-compact="true">
                <text-item v-for="item in layout" :text="item.i"></text-item>
            </responsive-grid-layout>-->
            <grid-layout :layout.sync="layout" :cols="12" :row-height="30" :is-draggable="true" :vertical-compact="true">
                <text-item v-for="item in layout" :text="item.i" slot="{{item.i}}"></text-item>
            </grid-layout>
        </div>

    </div>
    <script src="build/bundle.js"></script>
</body>
</html>