<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vue-grid-layout</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="example/app.css">
</head>
<body>
    <h1>Vue Grid Layout</h1>
    <div id="app">
        <!--<pre>{{ $data | json }}</pre>-->
        <div>
            <div class="layoutJSON">
                Displayed as <code>[x, y, w, h]</code>:
                <div class="columns">
                    <div class="layoutItem" v-for="item in layout">
                        <b>{{item.i}}</b>: [{{item.x}}, {{item.y}}, {{item.w}}, {{item.h}}]
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <!--<responsive-grid-layout :layout.sync="layout" :layouts="layouts" :row-height="30" :is-draggable="true" :vertical-compact="true">
                <text-item v-for="item in layout" :text="item.i"></text-item>
            </responsive-grid-layout>-->
            <!--<responsive-grid-layout :layout.sync="layout" :layouts="layouts" :row-height="30" :is-draggable="true" :vertical-compact="true">
                <grid-item v-for="item in layout"
                           :x.sync="item.x"
                           :y.sync="item.y"
                           :w.sync="item.w"
                           :h.sync="item.h"
                           :id="item.i"
                        >
                    <span class="text">{{item.i}}</span>
                </grid-item>
            </responsive-grid-layout>-->
            <grid-layout :layout.sync="layout" :col-num="12" :row-height="30" :is-draggable="true" :vertical-compact="true">
                <grid-item v-for="item in layout"
                           :x.sync="item.x"
                           :y.sync="item.y"
                           :w.sync="item.w"
                           :h.sync="item.h"
                           :id="item.i"
                >
                    <span class="text">{{item.i}}</span>
                </grid-item>
            </grid-layout>
        </div>

    </div>
    <script src="build/bundle.js"></script>
</body>
</html>